<!DOCTYPE html>
<html>
<head>
  <title>Reseteo de Contrase침a</title>
</head>
<body>
  <h1>Reseteo de Contrase침a</h1>
  <p>Por favor, haz clic en el siguiente enlace para cambiar tu contrase침a:</p>
  <a href="{{resetLink}}">Verificar correo electr칩nico</a>
</body>
</html>