<!DOCTYPE html>
<html>
<head>
  <title>Verificación de correo electrónico</title>
</head>
<body>
  <h1>Verificación de correo electrónico</h1>
  <p>Por favor, haz clic en el siguiente enlace para verificar tu correo electrónico:</p>
  <a href="{{verificationLink}}">Verificar correo electrónico</a>
</body>
</html>